/*
* My own css rules for oct11.cn
*/

// 清除包裹浮动
@mixin clear() {
    &:after {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }
}


/* 公有样式 */

// 使页脚居于底部
html, body {
  height: 100%;
  font-family: Arial, Helvetica, 黑体, 微软雅黑, sans-serif;
}
main.content {
  min-height: 90%;
  .FooterPush {
    // Footer 的高度
      height: 20px;
  }
}
footer {
  clear: both;
  position: relative;
  margin-top: -20px;
  height: 20px;
  text-align: center;
}


/* 私有样式 */

// index页
// 标题字体
.index-page {
    h3.title {
        font-family: 华文新魏;
    }
    .fa {
        color: #aaa;
        font-size: 17px;
    }
}
// single页
// 时间和阅读次数右移
.single-page .panel .panel-footer {
  text-align: right;
}
// category页
// 清除没有标题造成的列表浮动
.category-page {
    .category-posts {
        li {
            @include clear();
        }
    }
}
// page-me页
// 图片居中
.page-me {
    .pic {
        text-align: center;
    }
}
